<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="/style.css">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">CRM</div>
            <ul>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/orders">Orders</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">

            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>